<ul class="nav nav-tabs">
  <li><a href="/transacao_entradas/new">Nova Transação Entrada</a></li>
  <li><a href="/transacao_entradas">Exibir Transações de Entrada</a></li>
  <li><a href="/transacao_saidas/new">Nova Transação Saida</a></li>
  <li class="active"><a href="/transacao_saidas">Exibir Transações de Saida</a></li>
</ul><br>

<%= render 'form' %>

<%= link_to 'Exibir', @transacao_saida %> |
<%= link_to 'Voltar', transacao_saidas_path %>
