<ul class="nav nav-tabs">
  <li>
    <a href="/transacao_entradas/new">Transação Entrada</a>
  </li>
  <li  class="active"><a href="/transacao_saidas/new">Transação Saida</a></li>
</ul><br>

<%= render 'form' %>

<%#= link_to 'Back', transacao_saidas_path %>
