<p>

<div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
          	<li><%= link_to "Financeiro", "/home/index"  %></li>
            <li><%= link_to "Sócios", "/socios"  %></li>
            <li><%= link_to "Lançamentos", "/home/index"  %></li>
            <li><%= link_to "Logout", "#"  %></li>
          </ul>
        </div>
      </div>
</div>
<p>

<h1>Home Negada</h1>
<p>Find me in app/views/home/index.html.erb</p>
