<ul class="nav nav-tabs">
  <li><a href="/mensalidades/status">Situação dos Sócios</a></li>
  <li><a href="/mensalidades">Mensalidades</a></li>
  <li class="active"><a href="/mensalidades/new">Laçar Nova Mensalidade</a></li>
</ul><br>


<%= render 'form' %>

<%#= link_to 'Back', transacao_entradas_path %>
